<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/vue-pdf-embed"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <link rel="manifest" href="manifest.json">
        <title>Strikke Omgangs Tæller</title>
    </head>
    <body>
        <div id="app">
            <div>
                <input type="file" @change="getPDF" accept="application/pdf">
                <button @click="removeCurrentPDF">Remove current PDF</button>
                <p></p>
                <button @click="goToNotes">Notes</button>
                <p></p>
                <button @click="resetCounter">Reset Counter</button>
            </div>

            <div class="counterPart">
                <button @click="decreaseCounter">-</button>
                {{counter}}
                <button @click="incrementCounter">+</button>
            </div>

            <div class="counterPartNote">
                <button @click="addNewNote">New Note</button>
            </div>
            <div v-if="showNewNote">
                <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-container">
                                <div class="modal-header">
                                    <slot name="header">
                                        New Note
                                    </slot>
                                </div>
                                <div class="modal-body">
                                    <slot name="body">
                                        test
                                    </slot>
                                </div>
                                <div class="modal-footer">
                                    <slot name="footer">
                                        <input v-model="newNoteText" type="text">
                                        <button class="modal-default-button" @click="showNewNote = false">
                                            Cancel
                                        </button>
                                        <button class="modal-save-button" @click="saveNewNote(newNoteText)">
                                            Save
                                        </button>
                                    </slot>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>

            <div v-if="currentPDF" class="pdf-container" @scroll.passive="handleScroll" ref="pdfWindow">
                <vue-pdf-embed :source="currentPDF" @rendered="onPdfRendered"/>
            </div>
            <div class="page-indicator">{{currentPage}}</div>
        </div>
    </body>
    <script src="index.js"></script>
</html>
